<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd" >
   
   <context:annotation-config />

	<bean id="parentTriangle" class="com.psl.SpringApplication.Triangle">
		<property name="a" ref="ZeroPoint" />
		<property name="points">
			<list>
				<ref bean="ZeroPoint" />
			</list>
		</property>
	</bean>
	<bean id="triangle1" class="com.psl.SpringApplication.Triangle" parent="parentTriangle">
		<property name="b" ref="OnePoint" />
		<property name="c" ref="TwoPoint" />
		<property name="points">
			<list merge = "true">
				<ref bean="OnePoint" />
				<ref bean="TwoPoint" />
			</list>
		</property>
	</bean>
	<bean id="triangle2" class="com.psl.SpringApplication.Triangle" parent="triangle1">
	</bean>

	<bean id="triangle" class="com.psl.SpringApplication.Triangle"   >
		<property name="a" ref="ZeroPoint" />
				<property name="b">
			<bean class="com.psl.SpringApplication.Point">
				<property name="x" value="-20" />
				<property name="y" value="0" />
			</bean>		
		</property>
		<property name="c">
			<bean class="com.psl.SpringApplication.Point">
				<property name="x" value="20" />
				<property name="y" value="0" />
			</bean>
		</property>
		<property name="points_map">
			<map>
				<entry key="0" value-ref="ZeroPoint" />
				<entry key="1" value-ref="OnePoint" />
				<entry key="2">
					<bean class="com.psl.SpringApplication.Point">
						<property name="x" value="20" />
						<property name="y" value="0" />
					</bean>
				</entry>				
			</map>
		</property>
		<property name="points">
			<list>
				<ref bean="ZeroPoint" />
				<ref bean="OnePoint"/>
				<ref bean="TwoPoint"/>
				<bean class="com.psl.SpringApplication.Point">
					<property name="x" value="20" />
					<property name="y" value="10" />
				</bean>
			</list>
		</property>
	</bean>
	<bean id="ZeroPoint" class="com.psl.SpringApplication.Point"  >
		<property name="x" value="0"/>
		<property name="y" value="0"/>
	</bean>
	<bean id="center" class="com.psl.SpringApplication.Point"  >
		<property name="x" value="0"/>
		<property name="y" value="0"/>
	</bean>
	<bean id="OnePoint" class="com.psl.SpringApplication.Point"  >
		<property name="x" value="-20" />
		<property name="y" value="0" />
	</bean>
	<bean id="TwoPoint" class="com.psl.SpringApplication.Point"  >
		<property name="x" value="20" />
		<property name="y" value="0" />
	</bean>
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames" >
			<list>
				<value>property</value>
			</list>
		</property>
	<bean id="circle" class="com.psl.SpringApplication.Circle">
	</bean>
	
	<context:component-scan base-package="com.psl.SpringApplication"></context:component-scan>


<!--  	<bean class="com.psl.SpringApplication.CustomBeanPostProcessor" />
	-->
	
</beans>