<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
   xmlns:context="http://www.springframework.org/schema/context" 
   xmlns:aop="http://www.springframework.org/schema/aop" 
   xsi:schemaLocation="	http://www.springframework.org/schema/beans 
					   	http://www.springframework.org/schema/beans/spring-beans.xsd 
   						http://www.springframework.org/schema/context 
   						http://www.springframework.org/schema/context/spring-context.xsd
   						http://www.springframework.org/schema/aop
   						http://www.springframework.org/schema/aop/spring-aop-3.0.xsd" >
   
   <context:annotation-config />
   <aop:aspectj-autoproxy />
    
	<bean id="parentTriangle" class="com.psl.SpringApplication.Triangle">
		<property name="a" ref="ZeroPoint" />
		<property name="points">
			<list>
				<ref bean="ZeroPoint" />
			</list>
		</property>
	</bean>
	<bean id="triangle1" class="com.psl.SpringApplication.Triangle" parent="parentTriangle">
		<property name="b" ref="OnePoint" />
		<property name="c" ref="TwoPoint" />
		<property name="points">
			<list merge = "true">
				<ref bean="OnePoint" />
				<ref bean="TwoPoint" />
			</list>
		</property>
	</bean>
	<bean id="triangle2" class="com.psl.SpringApplication.Triangle" parent="triangle1">
	</bean>

	<bean id="triangle3" class="com.psl.SpringApplication.Triangle"   >
		<property name="a" ref="ZeroPoint" />
				<property name="b">
			<bean class="com.psl.SpringApplication.Point">
				<property name="x" value="-20" />
				<property name="y" value="0" />
			</bean>		
		</property>
		<property name="c">
			<bean class="com.psl.SpringApplication.Point">
				<property name="x" value="20" />
				<property name="y" value="0" />
			</bean>
		</property>
		<property name="points_map">
			<map>
				<entry key="0" value-ref="ZeroPoint" />
				<entry key="1" value-ref="OnePoint" />
				<entry key="2">
					<bean class="com.psl.SpringApplication.Point">
						<property name="x" value="20" />
						<property name="y" value="0" />
					</bean>
				</entry>				
			</map>
		</property>
		<property name="points">
			<list>
				<ref bean="ZeroPoint" />
				<ref bean="OnePoint"/>
				<ref bean="TwoPoint"/>
				<bean class="com.psl.SpringApplication.Point">
					<property name="x" value="20" />
					<property name="y" value="10" />
				</bean>
			</list>
		</property>
	</bean>
	<bean id="ZeroPoint" class="com.psl.SpringApplication.Point"  >
		<property name="x" value="0"/>
		<property name="y" value="0"/>
	</bean>
	<bean id="center" class="com.psl.SpringApplication.Point"  >
		<property name="x" value="0"/>
		<property name="y" value="0"/>
	</bean>
	<bean id="OnePoint" class="com.psl.SpringApplication.Point"  >
		<property name="x" value="-20" />
		<property name="y" value="0" />
	</bean>
	<bean id="TwoPoint" class="com.psl.SpringApplication.Point"  >
		<property name="x" value="20" />
		<property name="y" value="0" />
	</bean>
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames" >
			<list>
				<value>property</value>
			</list>
		</property>
	</bean>
	
	<bean id="triangle" class="com.psl.SpringApplication.Model.Triangle">
		<property name="name" value="Equilateral" />
	</bean>
	
	<bean id="circle" class="com.psl.SpringApplication.Model.Circle">
		<property name="name" value="Ellipse" />
	</bean>
	<bean id="shapeService" class="com.psl.SpringApplication.Service.ShapeService" autowire="byName" />
	
	
	<bean id="customAspect" class="com.psl.SpringApplication.Aspect.CustomAspect" />
	
	<context:component-scan base-package="com.psl.SpringApplication" />


<!--  	<bean class="com.psl.SpringApplication.CustomBeanPostProcessor" />
	-->
	
</beans>